@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mona Sans";
    src: url("/resources/fonts/MMona-Sans.woff2ona_Sans/Mona-Sans.woff2")
            format("woff2 supports variations"),
        url("/resources/fonts/Mona_Sans/Mona-Sans.woff2")
            format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@layer base {
    body {
        @apply font-[400] text-light-dark text-[1rem] sm:text-[1.1rem] leading-7 bg-light;
    }
}

@layer utilities {
    .font-condensed {
        font-stretch: 75%;
    }
}

@layer utilities {
    .font-expanded {
        font-stretch: 125%;
    }
}

@layer components {
    .hover-link {
        @apply hover:border-primary hover:text-primary hover:bg-slate-200 rounded;
    }

    .hero-text {
        @apply mt-6;
    }

    .section-container {
        @apply max-w-2xl w-11/12 m-auto mb-12 px-2 sm:px-0;
    }

    .section-title {
        @apply text-xl mb-2 font-bold font-expanded text-dark;
    }
}
