@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mona Sans";
    src: url("/resources/fonts/MMona-Sans.woff2ona_Sans/Mona-Sans.woff2")
            format("woff2 supports variations"),
        url("/resources/fonts/Mona_Sans/Mona-Sans.woff2")
            format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@layer base {
    body {
        @apply font-[300] text-light-dark text-[1.1rem] leading-[1.8rem] bg-light;
    }
}

@layer utilities {
    .font-extra-condensed {
        font-stretch: extra-condensed;
    }


    .font-semi-condensed {
        font-stretch: semi-condensed;
    }
    
    .font-condensed {
        font-stretch: condensed;
    }

    .font-extra-expaneded {
        font-stretch: extra-expanded;
    }

    .font-semi-expaneded {
        font-stretch: semi-expanded;
    }

    .font-expanded {
        font-stretch: expanded;
    }
}

@layer components {
    .hover-link {
        @apply hover:border-primary hover:text-primary hover:bg-slate-200 rounded;
    }

    .hero-text {
        @apply mt-6;
    }
    .nav-container {
        @apply max-w-2xl w-11/12 m-auto mb-4 px-2 sm:px-0 flex justify-between items-center;
    }

    .section-container {
        @apply max-w-2xl w-11/12 m-auto mb-12 px-2 sm:px-0;
    }

    .section-title {
        @apply text-xl mb-2 font-bold font-expanded text-dark;
    }
}
